#------------------AI---------------
LLM_API = "http://localhost:12434/v1"
LLM_SECRET = "your-ai-api-token"
LLM_MODEL = "ai/gemma4:E2B"
LLM_VISION_MODEL = "ai/qwen3-vl:2B-UD-Q4_K_XL"
PYTHONUTF8=1


#--------------Backend---------------
MONGO_URI = "mongodb://localhost:27017/AiAssistant"
JWT_SECRET = "your-secret-token"        # any random no
AI_API = "http://localhost:8000/agent"
EMAIL_USER = "your-email"
EMAIL_PASS = "your-email-app-password"
REDIS_URL = 


#--------------Frontend---------------
VITE_BASE_URL = "http://localhost:3000/api"
VITE_GOOGLE_CLIENT_ID = "your-google-client-id"

#--------------Google Auth-----------
GOOGLE_CLIENT_ID = "your-google-client-id"
GOOGLE_CLIENT_SECRET = "your-google-client-secret"