#------------------AI---------------
PYTHONUTF8=1
QDRANT_URL="http://qdrant:6333"
QDRANT_API_KEY=                         # leave empty for local, required for Qdrant Cloud
QDRANT_COLLECTION_PREFIX="chat"         # prefix for per-chat collections
SEARXNG_URL="http://searxng:8888"
CRAWL4AI_URL="http://crawl4ai:11235"
CRAWL4AI_API_TOKEN="your_custom_secret_password"


#---------------LLMs-----------------
GROQ_API_KEY = 
TOGETHER_API_KEY = 
OPENROUTER_API_KEY = 
HF_TOKEN = 
SAMBANOVA_API_KEY = 
DEEPINFRA_API_KEY =
CLOUDFLARE_API_KEY = 
LIGHTNING_API_KEY = 


#--------------Backend---------------
JWT_SECRET = "your-secret-token"                    # any random no
JWT_REFRESH_SECRET = "your-secret-refresh-token"    # another random no
AI_API = "http://aicalls:8000/agent"
EMAIL_USER = "your-email"                           # For sending otp
EMAIL_PASS = "your-email-app-password"              # For sending otp


#---------Backend + AI----------------
REDIS_URL = "redis://redis:6379"
MONGO_URI = "mongodb://mongodb:27017/AiAssistant"

#--------------Frontend---------------
VITE_BASE_URL = "/api"
VITE_GOOGLE_CLIENT_ID = "your-google-client-id"           # For login with google

#--------------Google Auth-----------
GOOGLE_CLIENT_ID = "your-google-client-id"                   # For login with google
GOOGLE_CLIENT_SECRET = "your-google-client-secret"           # For login with google