@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.dark {
  background-color: black;
  color: white;
}

/* Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 transparent;
}